@import "../../../styles/settings.scss";

.root {
  text-align: center;
  padding: 30px;
}

.cardContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 30%;
}
